.container
  <br>
  %h1 Ahoy Events
  <br>
  = form_tag nil, class: 'event-form' do
    .form-group
      .row
        .col-sm-4
          = select_tag :name, options_for_select(['Loading'], 'Loading'), class: 'form-control'
        .col-sm-2
          = date_field_tag :start_date, @start_date.to_date, class: 'form-control'
        .col-sm-2
          = date_field_tag :end_date, @end_date.to_date, class: 'form-control'
        .col-sm-2
          = select_tag :period, options_for_select(['quarter', 'month', 'week', 'day'], @period), class: 'form-control'
        .col-sm-2
          = select_tag :uniqueness, options_for_select(['total', 'unique'], @uniqueness), class: 'form-control'
    .form-group
      .row
        .col-sm-4
          = select_tag :key, nil, class: 'form-control'
        .col-sm-4
          = select_tag :value, nil, class: 'form-control'

    .form-group
      .row
        .col-sm-2.col-sm-offset-10
          = submit_tag 'Load', class: 'btn btn-success btn-block'



  .data
